%nav.nav-menu.nav-menu-inverse.nav-menu-fixed-left.off-canvas.off-canvas-left-xs#target
  .nav-menu-header
    = link_to "Avant", main_app.root_url, class: "nav-menu-brand"
  %ul.nav.nav-menu-nav
    = nav_item 'Chart of Accounts', Account, nav_id: [:accounts, :main]
    = nav_item 'Events', Event, nav_id: [:events, :main]
