.container
  %h1 Chart of Accounts

  %table.table
    %thead
      %tr
        %th Name
        %th Type
        %th Balance
        %th
        %th

    %tbody
      = render 'table', accounts: @accounts

  %p Cash + Principal + Principal Receivable + Accrued Interest = Equity + Interest Income (retained earnings)

  = link_to 'New Account', [:new, :account], class: 'btn btn-success'

  %h4 Accounts Receivable by Product
  %table.table
    %thead
      %tr
        %th Product UUID
        %th Accounts Receivable Balance
        %th Actions
    %tbody
      = render Account.accounts_receivable.product_balances.by_product.positive
