.scroll-panel
  .scroll-panel-body

    .panel.panel-default
      .panel-heading
        %h4.panel-title
          Chart of Accounts
      %table.table
        %thead
          %tr
            %th Name
            %th Type
            %th Balance
            %th
            %th

        %tbody
          = render 'table', accounts: @accounts

      .panel-body
        .well.m-0{style: "margin: 0;"}
          Cash + Principal + Principal Receivable + Accrued Interest = Equity + Interest Income (retained earnings)

    .panel.panel-default
      .panel-heading
        %h4.panel-title
          Late Accounts
          %small Accounts Receivable by Product
      %table.table
        %thead
          %tr
            %th Product UUID
            %th Accounts Receivable Balance
            %th Actions
        %tbody
          = render Account.accounts_receivable.product_balances.by_product.positive

    .panel.panel-default
      .panel-heading
        %h4.panel-title
          Daily Balance
          %small Accounts Receivable for Product 4 (in cents)
      .panel-body
        / = debug Account.daily_balance(:accounts_receivable, for_product: 4, date_range: Date.new(2014, 12, 25)..Date.new(2015, 1, 15))
        = debug ProductBalance.for_product(4).where(account: Account.accounts_receivable).time_series(Date.new(2014, 12, 25)..Date.new(2015, 1, 15))
